{% extends "base.html" %}
{% block title %}User Registration{% endblock %}
{% block head %}User Registration{% endblock %}
{% block content %}
    <style type="text/css">

    input, select {
          background: 12px 11px no-repeat, linear-gradient(to bottom, #f7f7f8 0%,#ffffff 100%);
          border-radius: 3px;
          box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset, 0 -1px 0 rgba(0,0,0,0.05) inset;
          transition: all 0.2s linear;
          color: #222222;
          position: relative;
          height: 36px;
          width: 300px;
        }

    input:focus{
        box-shadow: 0 1px 0 #2392F3 inset, 0 -1px 0 #2392F3 inset, 1px 0 0 #2392F3 inset, -1px 0 0 #2392F3 inset, 0 0 4px rgba(35,146,243,0.5);
        outline: none;
        background: 12px 11px no-repeat, #FFF;
        transform: scale(1.1); -webkit-transform: scale(1.1);-moz-transform: scale(1.1);-o-transform: scale(1.1);-ms-transform: scale(1.1);
    }

    .field{
          color: #0C090A;

    }
    #execute_button {
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        border-color: #3d91cf;
    }

    div#primoInAlto{ min-width:200px; margin-top:30px;}
    .field span {display: inline-block; width: 150px;}
    .field span.red {display: inline-block; width: 180px; color: red;}
    </style>
<form method="post" action=".">{% csrf_token %}
    {{ form.non_field_errors }}
    <table width="98%" border="0" style="position:relative;top: 100px;margin-left: 80px;">
        <tbody>
        <tr><td><br></td></tr>
        <tr>
            <td>
                <div class="field"><h3>Registration Form</h3></div></td>
        </tr>
         <tr>
            <td  title="Username">
                <div class="field"><span>Username:</span>{{ form.username}}<span class="red">&nbsp;{{ form.username.errors|striptags }}</span></div></td>
        </tr>
         <tr>
            <td  title="Last Name">
                <div class="field"><span>Last Name:</span>{{ form.last_name}}<span class="red">&nbsp;{{ form.last_name.errors|striptags }}</span></div></td>
        </tr>
          <tr>
            <td  title="First Name">
                <div class="field"><span>First Name:</span>{{ form.first_name}}<span class="red">&nbsp;{{ form.first_name.errors|striptags }}</span></div></td>
        </tr>

        <tr>
            <td  title="Telefone">
                <div class="field"><span>Telefone:</span>{{ form.phone}}<span class="red">&nbsp;{{ form.phone.errors|striptags }}</span></div></td>
        </tr>
        <tr>
            <td  title="Email">
                <div class="field"><span>Email:</span>{{ form.email}}<span class="red">&nbsp;{{ form.email.errors|striptags }}</span></div></td>
        </tr>
        <tr>
            <td  title="Password">
                <div class="field"><span>Password:</span>{{ form.password}}<span class="red">&nbsp;{{ form.password.errors|striptags }}</span></div></td>
        </tr>
                <tr>
            <td  title="Password">
                <div class="field"><span>Password Again:</span>{{ form.password2}}<span class="red">&nbsp;{{ form.password2.errors|striptags }}</span></div></td>
        </tr>
        <tr><td><br></td></tr>
        <tr><td><input type="submit" value="Register" /> </td></tr>
        </tbody>
    </table>
</form>
<div style="margin-top: 200px">
<a href="/">Login</a>
</div>
{% endblock %}